
[url "ssh://git@gitlab.bonet.sk/"]
        insteadOf = https://gitlab.bonet.sk/
[user]
	email = jan@jankelemen.net
	name = Jan Kelemen

[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[user]
	email = jan@jankelemen.net
	name = Jan Kelemen
