#!/bin/sh

# increase key speed via a rate change
xset r rate 300 50

[ -f "$HOME"/.config/shell/varrc ] && export $(grep -v "^#" "$HOME"/.config/shell/varrc | xargs)

# keyboard layouts
setxkbmap -layout us,sk -variant ,qwerty

greenclip daemon &

sxhkd &

picom -b

volctl &

dunst &

flameshot &

redshift-gtk &

dwmblocks &

# no dimming
xset s off
xset s noblank
xset -dpms


nitrogen --restore &
